body {
  background-color: #aa7c7c;
  font-family: "Montserrat";
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.up-logo img {
  width: 170px;
  max-width: 100%;
  display: block;
}

header {
  padding: 46px 70px 0;
}
/* amir se la come */