#results-body {
  font-family: "Inter", sans-serif;
}

.up-logo img {
  width: 170px;
  max-width: 100%;
  display: block;
  margin-bottom: 50px;
}

main > section:first-of-type {
  text-align: center;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 2.4em;
}

#main-results-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
  color: white;
}

/* #main-results-section > div {
  text-align: center;
  width: 100%;
  margin-top: 8%;
} */

#percentage-correct-answers,
#percentage-wrong-answers {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.button-start {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.button-start button {
  min-width: 20vw;
  height: 6vw;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  background: transparent;
  border: 2px solid white;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  padding: 1vw;
}

.button-start button:hover {
  transform: translateY(-2px);
  box-shadow:
    0 0 18px rgba(0, 240, 255, 1),
    0 0 40px rgba(0, 240, 255, 0.6);
}

.button-start button:active {
  transform: translateY(0);
}

article h4 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.certificate {
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
  margin: 30px;
}

.certificate p {
  font-size: 1.3em;
}

.youPass {
  color: aqua;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.wrongAnswer p {
  font-size: 2.8em;
  text-align: center;
}

#percentage-wrong-answers {
  font-size: 3em;
  margin: 10px;
}

.chart-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

#number-wrong-answers {
  font-size: 1em;
  margin: 10px;
  font-weight: lighter;
}

#percentage-correct-answers {
  font-size: 3em;
  margin: 10px;
}

#number-correct-answers {
  font-size: 1em;
  margin: 10px;
  font-weight: lighter;
}

.rightAnswer p {
  font-size: 2.8em;
  text-align: center;
}

canvas {
  width: 400px !important;
  height: 400px !important;
}

.result-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button-rate-us .button-start {
  margin-top: 15px;
}

#check-section {
  padding: 90px 50px 100px 50px;
  text-align: center;
  padding-bottom: 0;
}

.answer-check {
  margin-bottom: 30px;
  font-size: 1.3em;
}

.answer-check p:nth-of-type(1) {
  margin-bottom: 16px;
  font-weight: bold;
}

.button-rate-us {
  margin-top: 6%;
}

.hidden {
  display: none;
}

.coriandolo {
  position: fixed;
  top: -50px;
  font-size: 30px;
  animation: caduta 4s linear forwards;
}

@keyframes caduta {
  to {
    transform: translateY(110vh) rotate(720deg);
  }
}
